body {
    text-align: center;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


.navigation {
    background-color: black;
    color: white;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .nav-pills {
    text-align: left;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box {
    display: block;
    margin: auto;
    width: 40%;
}

.angle-input {
    margin-bottom: 2rem;
}

#check-button {
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}

#calc-button {
    font-size: 1.5rem;
}

#output-box {
    font-size: 1.5rem;
}

.output-box {
    font-size: 1.5rem;
}

.calc-button {
    font-size: 1.5rem;
}